/* Fuentes de todas las páginas */
body{
    font-family: 'Roboto Mono', monospace;
    background-color: grey;
    color: whitesmoke;
}

/* Título principal*/
.div__titulo__principal{
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    padding: 2rem; 
}

/* Enlace título principal*/
.div__titulo__principal a{
    color: aliceblue;
    text-decoration: none;
}

/* Tamaño imágen título principal */
.div__logo__titulo {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-left: 975px;
    width: 100px;
    height: 80px;
}

/* Contenedor Header */
.header {
    display: flex;
    justify-content: center;
}

/* Estilo Header */
.header__menu {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 1rem;

}

/* Enlace estilo header*/
.header__menu a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Estilo Header lista*/
.estilo__li__raw a:hover{
    background-color: red;
    color: white;
    padding: 0 4rem 0 4rem;
    width: 4rem;
    height: 4rem;
    text-align: center;
}
.estilo__li__sd a:hover{
    color: white;
    background-color: blue;
    padding: 0 4rem 0 4rem;
    width: 4rem;
    text-align: center;
}
.estilo__li__ppv a:hover{
    color: white;
    background-color: black;
    padding: 0 4rem 0 4rem;
    width: 4rem;
    text-align: center;
}
.estilo__li__cto a:hover{
    color: white;
    background-color: goldenrod;
    padding: 0 4rem 0 4rem;
    width: 4rem;
    text-align: center;
}

/* Section Main */
.super__section{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 3rem;
}

/* Contenedor Noticias */
.div__section_noticias{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 2rem;
}
.div__noticias__1{
    display: flex;
    flex-direction: column;
    border-top: 2px solid blueviolet; 
    border-bottom: 2px solid blueviolet;
    margin-bottom: 2rem;
}

.div__noticias__2{
    border-bottom: 2px solid blueviolet;
    margin-bottom: 2rem;
}

.div__noticias__3{
        border-bottom: 2px solid blueviolet;
        margin-bottom: 2rem;
}

/* Noticias título contenido y parráfo */
.div__noticias__titulo{
    display: flex;
    margin: 0 5rem 0 2rem;
}
.div__noticias__contenido{
    display: flex;
    flex-direction: row;
    padding: 1rem;
}
.div__noticias__parrafo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 2rem;
}

/* Tamaño imágenes Noticias*/
.tamaño__img__noticias{
    width: 350px;
    height: 150px;
    margin-left: 1rem;
}

/* Contenedor Widgets */
.div__widgets{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin: 0 1rem 0 1rem; 
    width: 500px;
    height: 1000px;
    padding: 0 20px 100px 20px;
    background-color: lightpink;
}
.widgets__titulo__videos {
    color: black;
}
    
/* Contenedor Footer */
.div__footer{
    display:flex;
    flex-direction: row;
    background-color: beige;
}

.reloj__footer{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 2rem;
}

/* Estilo Fuente Footer */
.div__footer h3{
  text-align: right;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  margin-top: 3rem;
  margin-left: 650px;
  padding: 2rem;
  
}

/* Tamaño Imagenes Footer */
.tamaño__img__footer img{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 55px;
    margin-left: 30px;
    padding: 8px;
    width: 50px;
    height: 50px;
    
}
/* Contacto */

/* Título contactos */
.titulo__contacto{
    background-color: goldenrod;
    color: whitesmoke;
    text-align: center;
}

/* Formularios */
.form__contacto{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 700px;
    margin-right: 100px;
    margin-left: 100px;
}
.textarea{
    height: 500px;
}
